<!DOCTYPE html>
<html>
    <head>
        <title>Buster's best Bowling Alley</title>
    </head>
    <body>
        <h1> Buster's best Bowling Alley</h1>
        <p>This HTML code is inside of a '.erb' file</p>
    </body>
</html>